<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Stylr for Google Glass</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../static/css/normalize.min.css">
        <link rel="stylesheet" href="../static/css/main.css">

        <script src="../static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="../static/js/vendor/jquery-1.9.1.min.js"></script>
    </head>
    <body class="settings-page">
        <div class="body-container">

            <div class="header-container">Settings and Preferences</div>

            <img class="image-hero" src="static/elle-web/settings_hero.png" width="307" height="712" />

            <div class="main-container">
                <div class="main wrapper clearfix">
                    <article class="clearfix">
                        <header>
                            <h1>Subscriptions</h1>
                        </header>
                        <section>
                            <input type="checkbox" id="dispatch" checked />
                            <label for="dispatch">
                                <img src="static/elle-web/settings_elledispatch.png" width="196" height="33" />
                                <p>The hottest fashion and culture news throughout the day from ELLE.com</p>
                            </label>
                        </section>
                        <section>
                            <input type="checkbox" id="stylerater" checked />
                            <label for="stylerater">
                                <img src="static/elle-web/settings_lookbook.png" width="215" height="33" />
                                <p>The latest styles and trends, updated daily</p>
                            </label>
                        </section>
                        <section>
                            <input type="checkbox" id="streetchic" checked />
                            <label for="streetchic">
                                <img src="static/elle-web/settings_streetchic.png" width="196" height="33" />
                                <p>Who's the best dressed? From art festivals to summer concerts to fashion week, we find the best street style from around the globe, send to you daily at 10am ET</p>
                            </label>
                        </section>
                        <section>
                            <input type="checkbox" id="horoscope" checked />
                            <label for="horoscope">
                                <img src="static/elle-web/settings_horoscope.png" width="215" height="33" />
                                <p>The Astro Twins forecast your horoscope for the day. Find out if the moon's position presents any new opportunities, if today's the day to take a chance on love, or if you should question someone's motives. Sent to you every day at 9am ET</p>
                            </label>
                            <select id="horoscope_select" >
                            	
                            		
                						
                					
  									<option value="Aries" selected>Aries</option>
  								
                            		
                						
                					
  									<option value="Taurus" >Taurus</option>
  								
                            		
                						
                					
  									<option value="Gemini" >Gemini</option>
  								
                            		
                						
                					
  									<option value="Cancer" >Cancer</option>
  								
                            		
                						
                					
  									<option value="Leo" >Leo</option>
  								
                            		
                						
                					
  									<option value="Virgo" >Virgo</option>
  								
                            		
                						
                					
  									<option value="Libra" >Libra</option>
  								
                            		
                						
                					
  									<option value="Scorpio" >Scorpio</option>
  								
                            		
                						
                					
  									<option value="Sagittarius" >Sagittarius</option>
  								
                            		
                						
                					
  									<option value="Capricorn" >Capricorn</option>
  								
                            		
                						
                					
  									<option value="Aquarius" >Aquarius</option>
  								
                            		
                						
                					
  									<option value="Pisces" >Pisces</option>
  								
							</select> 
                        </section>
                    </article>

                    <article class="clearfix">
                        <header>
                            <h1>My Reading List</h1>
                            <p>Articles that you saved on Glass</p>
                        </header>
                        <section>
                            <ul>	
                            	
                            </ul>
                        </section>
                    </article>

                    <article class="clearfix">
                        <header>
                            <h1>My Shopping Wishlist</h1>
                            <p>Shoppable favorites that you saved on Glass</p>
                        </header>
                        <section>
                            <ul>
                            	
                            </ul>
                        </section>
                    </article>

                </div> <!-- #main -->
            </div> <!-- #main-container -->
        </div>
        <script src="static/js/main.js"></script>
    </body>
</html>
